#
# The IceGrid locator proxy.
#
Ice.Default.Locator=Grid-001/Locator:default -p 12000:default -p 12001:default -p 12002


#
# The client creates one single object adapter with the name
# "Callback.Client". The following line sets the endpoints for this
# adapter.
#
MessageTriggerBIdentity = DMS.MessageTriggerB
DeviceHubBIdentity = DMS.DeviceHubB
#
# To use the IceGrid discovery plugin comment out the default locator
# property above and un-comment the two properties below. The discovery
# plugin uses multicast to discover IceGrid.
#
#Ice.Plugin.IceLocatorDiscovery=IceLocatorDiscovery:createIceLocatorDiscovery
#IceLocatorDiscovery.InstanceName=Grid-001

Ice.Default.Timeout=60000
Ice.Default.Host=localhost


#
# Trace properties.
#
#Ice.Trace.Network=1
#Ice.Trace.Locator=2

#
# IceGrid admin properties to allow running IceGrid admin clients.
#
IceGridAdmin.Username=benoit
IceGridAdmin.Password=dummy

Ice.LogFile=../../logs/APISender-1.log
